*{
    margin:0;
    padding:0;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}

/*NAVBAR CSS*/
header{
    background-color: #152935;
    height:6vh;
    width:100%;
}
.sub-container{
    transition: background-color 0.6s ease;
    height: 6vh;
    color:#FFFFFF;
    font-weight: lighter;
}
.sub-container h3{
    padding:0;
    margin:5% 0 0 0;
    font-weight:lighter;
}
.sub-container img{
    margin:4px 0 0 70%;
}
.sub-sub-container{
    font-family: 'Quicksand' , Serif;
    height:80%;
    color:white;
    text-align: center;
    margin-top:1%;
}
.sub-sub-container p{
    margin-top:14px;
}
.sub-sub-container:hover{
    cursor: pointer;
    color:#7CC7FF;
}
/*NAVBAR CSS*/
/*MAIN BODY CSS*/
.main-body{
    width: 60%;
    height: 60vh;
    margin: 5% auto;
    text-align: center;
}
.main-body-container{
    margin:6% auto;
    width:60%;
    font-size:1.3em;
    text-align: left;
}
.main-body-container input{
    font-size: 1.4em;
    background-color: #F0F2F2;
    border:1px solid black;
    width:90%;
}
.submit-button input{
    color:white;
    font-size:1.2em;
    background-color:#152935; 
}
/*MAIN BODY CSS*/
/*COMPLAINT CSS*/
.complaint-container{
    height: 94vh;
}
.complaint-sub-container{
    padding:3%;
    height: 100%;
    background-color:#3d70b2;
    color:white;
}
#form-container{
    color:black;
    background-color: white;
}
/*COMPLAINT CSS*/