{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Bluemix | CustomerCare</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/app/style.css'%}">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Abel|Athiti|Josefin+Sans|Open+Sans+Condensed:300|PT+Sans+Narrow|Quicksand|Teko" rel="stylesheet">

</head>
<body>
<header class="header">
        <div class="col-md-1 sub-container" id="sub-container-tab0">
            <img src="{%static 'img/bluemix.png'%}" alt="logo" height="80%">
        </div>
        <div class="col-md-2 sub-container" id="sub-container-tab1"><h3>IBM Bluemix</h3></div>
        <div class="col-md-4 sub-container pull-right row">
            <a href="{%url 'logout'%}"><div class="sub-sub-container col-md-6"><p>Logout</p></div></a>
        </div>
</header>

<div class="complaint-container row">
        <div class="complaint-sub-container col-md-6">
        <h1>Fill the complaint form</h1>
        <p>Kindly fill the complaint form situated on the left side of this page.</p>
        <p>Know that you are a valuable customer to IBM and your request will be handled shortly.</p>
        <h2>Please wait for the Technician to get in contact with you</h2>
        <p>An IBM technician will get in contact with you to sort out your problem.</p>
        <p>If the technician doesn't respond in 2-3 days please call the helpline given below</p>
        <h2>Know the fix is free of charge</h2>
        <p>The fix is free of charge and we don't expect the problem to persist.</p>
        <p>Sorry for the inconvenince and hope everything goes well.</p>
        </div>
        <div class="complaint-sub-container col-md-6" id="form-container">
<form action="/complaint" method="post">{%csrf_token%}
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" placeholder="Type the description here..." name="description">
    <small id="emailHelp" class="form-text text-muted">Please be as descriptive as possible.</small>
  </div>
  <fieldset class="form-group">
    <legend>Severity of the Problem</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="type" value="Need immediate and long term solution." checked>
        Need immediate and long term solution.
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="type" value="New Solution, need thorough time flexible efficient solution.">
        New Solution, need thorough time flexible efficient solution.
      </label>
    </div>
    <div class="form-check disabled">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="type" value="Need immediate solution(short term), work on long term solution required.">
        Need immediate solution(short term), work on long term solution required.
      </label>
    </div>
  </fieldset>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
        </div>
    </div>
</body>
</html>